@model Security.Domain.DTO.User.UserSearchModel

<div id="dvSearchBox">
    @await Component.InvokeAsync("UserSearchBox", this.Model)
</div>

<span class="btn btn-primary" id="btnOpenAddModalForm">Add form</span>
<div id="dvContentUserList">
    @await Component.InvokeAsync("UserList",this.Model)
</div>

<script>
    $(document).ready(function () {
        $("#btnOpenAddModalForm").click(function () {
            var sendingUrl = '@Url.Action("AddNew","UserManagement")';
            var sendingData = $("#frmSearchBox").serialize();
            $.get(sendingUrl, sendingData, function (rd) {
                $("#myModal").modal('show');
                $("#dvContent").html(rd);
            });
        });
    });
    $(document).on("click", "#btnAddNewUser", function () {
        var sendingUrl = '@Url.Action("AddNewUser","UserManagement")';
        var sendingData = $("#addNewUserForm").serialize();
        $.post(sendingUrl, sendingData, function (op) {
            if (op.success.toString() == "true") {
                $("#myModal").modal("hide");
                SuccessMessage(op.message);
                BindGrid();
                RefreshSearchBox();
            }
            else {
                ErrorMessage(op.message);
            }
        });
    });


    function BindGrid() {
        var sendingUrl = '@Url.Action("UserList","UserManagement")';
        var sendingData = $("#frmSearchBox").serialize();;
        $.get(sendingUrl, sendingData, function (grd) {
            $("#dvContentUserList").html(grd);
        });
    };
    function RefreshSearchBox() {
        var sendingUrl = '@Url.Action("UserSearchBox","UserManagement")';
        var sendingData = $("#frmSearchBox").serialize();
        $.get(sendingUrl, sendingData, function (frmSearch) {
            $("#dvSearchBox").html(frmSearch);
        });
    }
    $(document).on("click", ".btnDeleteUser", function () {
        var name = $(this).attr("data-name");
        if (confirm(`آیا از حذف ${name} مطمئن هستید ؟`)) {
            var id = $(this).attr("data-id");
            var sendingData = "id=" + id;
            var sendingUrl = '@Url.Action("DeleteUser","UserManagement")';
            $.post(sendingUrl, sendingData, function (op) {
                if (op.success.toString() == "true") {
                    var rowID = "#tr_" + id;
                    $(rowID).slideUp(500);
                    BindGrid();
                }
                else {
                    ErrorMessage(op.message);
                }
            });
        }

    });


</script>


